body {
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    display: flex;
}

div.first {
    display: flex;
    background-color: #08575b;
    width: 90%;
    height: 70%;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 110px;
}

div.FirstInner h1.Co{
    color: white;
    margin-top: 100%;
    font-size: 40px;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


div.Main {
    display: flex;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    width: 70%;
    background-color: #d2d3d5;
}

div.first div.second {
    display: flex;
    height: 100%;
    width: 60%;
    margin-left: 5%;
    margin-right: 70px;
    background-color: #3a7a7c;
}

div.first div.FirstInner {
    display: flex;
    height: 85%;
    width: 50%;
    margin: 50px;
    background-color: #a9aaae;
}

div.first h1 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.second h2 {
    background-color: red;
    margin-left: 30%;
    margin-top: 10%;
    margin-bottom: 110%;
    text-align: right;
    font-family: Arial;
    font-size: small;
    color: white;
}

a {
    margin-left: 10%;
    margin-top: 10%;
    color: #185259;
    font-family: Arial;

}